* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Poppins', sans-serif;
    color: #403C3C;
}

/* Banner/Landing Page */


/* Second Page */


/* Third Page */


/* Fourth Page */


/* Fifth Page */


/* Sixth Page */


/* Seventh Page */


/* Eigth Page */


/* Ninth Page */

