* {
    margin: 0;
    padding: 0;
    font-size: 10px;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #403C3C;
}

/* Please add code in the space right below your section */

/* Banner/Landing Page */

/* Second Page */
@media (max-width: 480px) {
    .section-2-our-guarantee {
        background-color: #f2f2f2;
        height: 110vh;
        padding-top: 4vh;
        width: 100%;
    }
    .guarantee-title {
        font-size: 2.0rem;
        margin-top: 3.0rem;
        margin-bottom: 2.0rem;
        font-weight: 700;
        color: #1e266d;
    }
    .card {
        margin: 0 auto;
        display: block;
        width: 50vw;
        height: 15vh;
        /* margin-left: 40vw; */
        /* margin-right: 20vw; */
        border: 2px solid #ccc;
        margin-bottom: 1.5rem;
    }
    .card-title {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        font-size: 1.3rem;
        font-weight: bold;
        color: #222121;
    }
    .card-text {
        margin-top: 0.5vh;
        font-size: 1.0rem;
        font-weight: 400;
    }
    span.material-icons {
        color: #2cd4d6;
        font-size: 2.5rem;
    }
}

@media (max-width: 480px) {
    .section-2-our-guarantee {
        background-color: #f2f2f2;
        height: 130vh;
        padding-top: 4vh;
        width: 100vw;
    }
    .guarantee-title {
        font-size: 2.0rem;
        margin-top: 3.0rem;
        margin-bottom: 2.0rem;
        font-weight: 700;
        color: #1e266d;
    }
    .card {
        margin: 0 auto;
        display: block;
        width: 35vw;
        height: 25vh;
        margin-left: 27vw;
        margin-right: 14vw;
        border: 2px solid #ccc;
        margin-bottom: 1.5rem;
    }
    .card-title {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        font-size: 1.3rem;
        font-weight: bold;
        color: #222121;
    }
    .card-text {
        margin-top: 1.5vh;
        font-size: 1.0rem;
        font-weight: 400;
    }
    span.material-icons {
        color: #2cd4d6;
        font-size: 2.5rem;
    }
}

@media (min-width: 769px) {
    .section-2-our-guarantee {
        background-color: #f2f2f2;
        height: 80vh;
        padding-top: 4vh;
        width: 100%;
    }
    .guarantee-title {
        font-size: 3.0rem;
        margin-top: 5.0rem;
        margin-bottom: 4.0rem;
        font-weight: 700;
        color: #1e266d;
    }
    .cards {
        width: 100%;
    }
    .card {
        display: flex;
        flex-direction: row;
        width: 18vw;
        height: 40vh;
        background-color: #ffffff;
        border: 2px solid #ccc;
        margin-right: 1vw;
        margin-bottom: 0.5rem;
    }
    .first-card {
        margin-left: 8vw;
    }
    .card-title {
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: 2.0rem;
        font-weight: bolder;
        color: #222121;
    }
    .card-text {
        margin-top: 4vh;
        font-size: 1.5rem;
        font-weight: 600;
    }
    .card:hover {
        box-shadow: 0 0 11px rgba(33, 33, 33, .4);
    }
    span.material-icons {
        color: #2cd4d6;
        font-size: 3.5rem;
    }
}

/* Third Page */

/* Fourth Page */

/* Fifth Page */

/* Sixth Page */

/* Seventh Page */
.section-7-next-steps{
    background-color: #f8f9fa;
}
.section-7-wrapper{
    padding: 4em 8em;
    margin: 0%;
    display: flex;
    flex-direction: column;
}
.section-7-wrapper .section-7-header{
    padding: 0%;
    margin: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-7-header h2{
    color: #1e266d;
    font-weight: bold;
    padding: 0%;
    margin: 0%;
}
.section-7-header p{
    font-size: 3.5rem;
    font-weight: bolder;
    padding: 0%;
    margin: 0em 0em 1em 0em;
    color: #403C3C;
}
.section-7-wrapper .section-7-content{
    padding: 0%;
    margin: 0%;
}
.section-7-content .picture{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0%;
    background: url("https://res.cloudinary.com/rokuirie/image/upload/v1601540457/Overwood-Team-Five/next-steps-img.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.section-7-content .content{
    padding: 0em 2em;
    margin: 0%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.section-7-content .content .contentItem{
    display: flex;
    
}
.section-7-content .content .itemHeading{
    padding: 1em;
    display: flex;
    justify-content: center;  
    align-items: center;
}
.section-7-content .itemHeading p{
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1e266d;
    width: 10rem;
    height: 10rem;
    padding: 2em;
    margin: 0%;
    font-weight: bold;
    color: #fafafa;
    text-align: center;
    font-size: 1.75rem;
}
.section-7-content .content .contentItem .textContent{
    padding: 0%;
    margin: 0%;
    display: flex;
    justify-content: flex-start;  
    align-items: center;
}
.section-7-content .textContent p{
    font-size: 2rem;
    padding: 0%;
    margin: 0%;
}
.section-7-content .content .textContent{
    padding: 0%;
    color: rgb(19, 18, 18);
}
.section-7-content .overText{
    color: #23d3d3;
    font-weight: bold;
    font-size: 2rem;
}
.section-7-content .woodText{
    color:  #1e266d;
    font-weight: bold;
    font-size: 2rem;
}

@media all and (min-width: 320px) and (max-width: 480px){
    .section-7-wrapper{
        padding: 4em 0.5em;
    }
    .section-7-header h2{
        font-size: 1.5rem;
    }
    .section-7-header p{
        font-size: 2.75rem;
        margin: 0em 0em 0.5em 0em;
    }
    .section-7-wrapper .section-7-content{
        padding: 0%;
        margin: 0%;
    }
    .section-7-wrapper .section-7-content .picture{
        height: 25vh;
    }
    .section-7-content .content{
        padding: 0em;
        margin: 0%;
    }
    .section-7-content .content .contentItem{
        display: flex;
    }
    .section-7-content .content .itemHeading{
        padding: 1em 1em 1em 0em;
    }
    .section-7-content .itemHeading p{
        border-radius: 50%;
        width: 7.5rem;
        height: 7.5rem;
        padding: 1em;
        font-size: 1.25rem;
    }
    .section-7-content .textContent p{
        font-size: 1.5rem;
    }
    .section-7-content .overText{
        color: #23d3d3;
        font-weight: bold;
        font-size: 1.75rem;
    }
    .section-7-content .woodText{
        color:  #1e266d;
        font-weight: bold;
        font-size: 1.75rem;
    }
}

@media all and (min-width: 481px) and (max-width: 768px){
    .section-7-wrapper{
        padding: 4em 1em;
    }
    .section-7-header h2{
        font-size: 1.75rem;
    }
    .section-7-header p{
        font-size: 3rem;
        margin: 0em 0em 1em 0em;
    }
    .section-7-content .content{
        padding: 0em;
        margin: 0%;
    }
    .section-7-content .content .contentItem{
        display: flex;
    }
    .section-7-content .content .itemHeading{
        padding: 1em 1em 1em 1.5em;
    }
    .section-7-content .itemHeading p{
        border-radius: 50%;
        width: 7rem;
        height: 7rem;
        padding: 1em;
        font-size: 1.25rem;
    }
    .section-7-content .textContent p{
        font-size: 1.75rem;
    }
    .section-7-content .overText{
        color: #23d3d3;
        font-weight: bold;
        font-size: 1.75rem;
    }
    .section-7-content .woodText{
        color:  #1e266d;
        font-weight: bold;
        font-size: 1.75rem;
    }
}

/* Eigth Page */

/* Ninth Page */

@media (max-width: 768px) {
    .section-9-footer {
        height: 50vh;
        background-color: #1e266d;
        color: whitesmoke;
    }
    form {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 30vw;
    }
    form.form-group label {
        display: hidden;
        text-align: left;
    }
    .form-group input {
        border: none;
        border-radius: none;
        height: 5vh;
        color: #403C3C;
        font-size: 1.0rem;
        width: 20vw;
    }
    form .btn {
        background-color: #2cd4d6;
        width: 15vw;
    }
    button.btn {
        /* padding: 0.5rem 1.0rem; */
        color: whitesmoke;
        font-size: 1.2rem;
    }
    ul li a {
        color: whitesmoke;
    }
    span.material-icons {
        color: #ffffff;
        font-size: 2.5rem;
    }
}

@media (max-width: 480px) {
    .section-9-footer {
        height: 140vh;
        background-color: #1e266d;
        color: whitesmoke;
    }
    form {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 30vw;
    }
    form.form-group label {
        display: hidden;
        text-align: left;
    }
    .form-group input {
        border: none;
        border-radius: none;
        height: 5vh;
        color: #403C3C;
        font-size: 1.0rem;
        width: 30vw;
    }
    form .btn {
        background-color: #2cd4d6;
        /* width: 15vw; */
        margin-right: 15vw;
    }
    button.btn {
        /* padding: 0.5rem 1.0rem; */
        color: whitesmoke;
        font-size: 1.0rem;
    }
    ul li a {
        color: whitesmoke;
    }
    span.material-icons {
        color: #ffffff;
        font-size: 2.5rem;
    }
}

@media (min-width: 769px) {
    .section-9-footer {
        height: 50vh;
        background-color: #1e266d;
    }
    .page-footer {
        padding-top: 3vh;
    }
    .section-9-footer h5 {
        font-size: 1.8rem;
        font-weight: 600;
        color: whitesmoke;
    }
    .section-9-footer ul li a {
        color: whitesmoke;
        font-size: 1.5rem;
        font-weight: lighter;
    }
    span.material-icons {
        font-size: 2.0rem;
        color: whitesmoke;
    }
    .form-group label {
        color: whitesmoke;
        font-size: 1.5rem;
    }
    .form-group input {
        border: none;
        border-radius: none;
        height: 8vh;
        color: #403C3C;
        font-size: 1.5rem;
    }
    form .btn {
        background-color: #2cd4d6;
    }
    button.btn {
        padding: 1.0rem 2.0rem;
        color: whitesmoke;
        font-size: 1.5rem;
    }
    span.material-icons {
        color: #ffffff;
        font-size: 2.5rem;
    }
}