@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  color: #403c3c;
}

/* Please add code in the space right below your section */
/* Banner/Landing Page */
.section-1-banner {
  background: linear-gradient(
      270deg,
      rgba(0, 45, 170, 0.39),
      rgba(29, 90, 255, 0.39),
      rgba(245, 245, 247, 0.424)
    ), url("https://res.cloudinary.com/rokuirie/image/upload/v1601540317/Overwood-Team-Five/banner-image.jpg");
  height: 100vh;
  background-size: cover;
}
.navbar {
  height: 8vh;
}
a.overwood {
  font-weight: 800;
  font-family: "Raleway", sans-serif;
}
p.over {
  color: #23d1d3;
  font-size: 2.2rem;
  display: inline;
}
p.wood {
  color: #1e266d;
  font-size: 2.2rem;
  display: inline;
}
div.links ul li a {
  font-weight: 400;
  font-size: 1.1rem;
  color: whitesmoke;
  letter-spacing: 0.03rem;
}
div.links ul li a:hover {
  /* color: whitesmoke; */
}
.btn-login {
  background-color: #23d3d3;
  color: whitesmoke;
  font-weight: 600;
}
.btn-login:hover {
  background-color: #1e266d;
  color: whitesmoke;
}
.btn-createAcc {
  background-color: #1e266d;
  color: whitesmoke;
  font-weight: 600;
}
.btn-createAcc:hover {
  color: #9df3f5;
}
.banner {
  margin-top: calc(100vh - 80vh);
  margin-left: 3rem;
}
.banner div p.rates {
  color: #1e266d;
  font-size: 0.875rem;
  font-weight: bold;
}
.banner div h1 {
  color: #1e266d;
  font-size: 3.125rem;
  font-weight: bold;
}
.banner div p {
  font-size: 1rem;
  font-weight: 600;
}
.banner div a {
  text-decoration: none;
}
.btn-investNow {
  background-color: #1e266d;
  color: whitesmoke;
  font-weight: 600;
  border-radius: 5px;
}

/* Second Page */

/* Third Page */

/* Fourth Page */

/* Fifth Page */
.section-5-our-products {
  background-color: #1e266d;
  height: 120vh;
  padding: 7rem;
}
.products {
  font-size: 2.5rem;
  color: #f9f5f0;
  font-weight: bold;
  text-align: center;
}
.our-products-img {
  height: 11em;
  width: 15em;
  border-radius: 15px;
  padding: 0.5rem;
}
.section-5-our-products div div .card {
  border-radius: 15px;
  background: #f9f5f0;
  font-weight: 600;
  font-size: 1rem;
  color: #252525;
}
.prime {
  color: #4ba5fa;
  font-weight: 700;
}
.dollar {
  color: #23d3d3;
  font-weight: 700;
}
.child {
  color: #8950fc;
  font-weight: 700;
}
.card-body p.over {
  color: #23d1d3;
  font-size: 1rem;
  display: inline;
  font-weight: bolder;
}
.card-body p.wood {
  color: #1e266d;
  font-size: 1rem;
  display: inline;
  font-weight: bolder;
}
.icon {
  color: #23d1d3;
}

/* Sixth Page */

/* Seventh Page */

/* Eigth Page */

/* Ninth Page */
